
  @import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,700;1,400&display=swap');
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,700;1,400&display=swap');
  }

  body{
    height: 100%;
  }

  header{
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-class{
    height: 1900px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-class-2{
    height: 2200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-class-3{
    height: 900px;
    margin-top:10px;
    margin-bottom: 10px;
  }

  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid rgb(104, 66, 241)  ;
    width: 100%;
    height: 300px;
    background-color:rgb(104, 66, 241) ;
  }

  .encabezado{
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    align-items: center;
    background-color: rgb(103, 65, 241);
    width:100%;
    height: 450px;
    background-image: url(../assets/images/banner.jpg);
    background-size: 100% 400px;
    background-repeat: no-repeat;
    background-position: 0px 80px;
  }

  .buscador{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 164px;
    top: 17px;
  }

  .inicio{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 100px;
    top: 15px;
  }

  .carrito{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 36px;
    top: 15px;
  }

  nav{
    background-color: rgb(103, 65, 241);
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 4;
}

  .navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
  }

  .navbar li{
    display: flex;
    list-style: none;
    font-size: 30px;
    font-weight: bold;
    word-spacing: 15px;
  }

  .navbar li a:hover{
    color: rgba(119, 228, 212, 1);
  }

  .belleza-item{
    height: 650px;
    width: 100%;
    background-image: url(../assets/images/carrusel.jpg);
    background-position: center;
    background-size: 90% 605px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .belleza-item h2{
    font-size: 75px;
  }
  .belleza-item p{
    font-size: 25px;
    word-spacing: 3%;

  }
  .catl-resg{
    margin-bottom: 10px;
    background-color: rgb(110, 243, 139);
    width: 100%;
    height: 490px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    background-image: url(../assets/images/banner-2.jpg);
    background-size: 755px 375px;
    background-repeat: no-repeat;
    background-position: left;
  }

  .catalogo{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    align-items: flex-end;
  }
.catalogo p{
  font-size: 30px;
  text-align: right;
  text-decoration-color: rgba(119, 228, 212, 1);
  word-spacing: 2px;
}
  .catalogo button{
    width: 480px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    appearance: auto;
    color: rgba(119, 228, 212, 1);
    font-size: 32px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: salmon;
    border-image: outset ;
    border-bottom: 2px solid rgb(61, 60, 59);
  }

  .lista-registrarme{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .registrarme p{
    font-size: 35px;
    word-spacing: 2px;
  }
  .registrarme button{
    width: 370px;
    height: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    appearance: auto;
    color: aquamarine;
    font-size: 32px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: salmon;
    border-image: outset ;
    border-bottom: 2px solid rgb(61, 60, 59);
  }
  .registrarme{
    background-color: rgba(238, 211, 91, 0.959);
    width: 80%;
    height: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .footer{
    width: 100%;
    padding: 30px;
    margin-top: 50px;
    font-size: 16px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .footer li{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .facebook{
    height: 40px;
    width: 40px;
  }

  .instagram{
    height: 40px;
    width: 40px;
  }

  .whatsapp{
    width: 40px;
    height: 40px;
  }

  .email{
    height: 40px;
    width: 40px;
  }

  /** clasifico el main de accesorios-belleza-manicuria **/

  .seccion-accesorios{
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
  }
  .contenedor-banner-accesorios{
    width: 100%;
    height: 300px;
    background-image: url(../assets/images/baner-accesorios.jpg);
    background-size: 100% 300px;
    background-repeat: no-repeat;
  }

  .accesorios-banner h1{
    font-size: 58px;
    text-align: left;
    list-style: none;
  }

  .seccion-belleza{
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
  }
  .contenedor-banner-belleza{
    width: 100%;
    height: 300px;
    background-image: url(../assets/images/carrusel.jpg);
    background-size: 100% 270px;
    background-repeat: no-repeat;
  }
  .belleza-banner h1{
    font-size: 58px;
    text-align: left;
    list-style: none;
  }

  .seccion-manicuria{
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
  }
  .contenedor-banner-manicuria{
    width: 100%;
    height: 300px;
    background-image: url(../assets/images/banner-manicuria.jpg);
    background-size: 100% 280px;
    background-repeat: no-repeat;
  }
  .manicuria-banner h1{
    font-size: 58px;
    text-align: left;
    list-style: none;
  }

  .seccion-accesorios-2{
    display: flex;
    height: 1500px;
    width: 100%;
    justify-content: center;
    padding: 10px;
    margin: 25px;
  }
  
  .contenedor-accesorios{
    display: grid;
    grid-template-columns: repeat(3, 225px);
    grid-template-rows: repeat(3, 290);
    column-gap: 20px;
    row-gap: 10px;
    justify-content: center;
  }

  /** empieza page accesorios **/

  .abanico{
    list-style: none;
  }
  .abanico img{
    height: 190px;
    width: 225px;
  }
  .abanico h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  } 
  .abanico button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.billetera-1{
  list-style: none;
  }
  .billetera-1 img{
    height: 190px;
    width: 225px;
  }
  .billetera-1 h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .billetera-1 button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.billetera-2{
  list-style: none;
  }
  .billetera-2 img{
    height: 190px;
    width: 225px;
  }
  .billetera-2 h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .billetera-2 button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.billetera-3{
  list-style: none;
  }
  .billetera-3 img{
    height: 190px;
    width: 225px;
  }
  .billetera-3 h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .billetera-3 button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.billetera-4{
  list-style: none;
  }
  .billetera-4 img{
    height: 190px;
    width: 225px;
  }
  .billetera-4 h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .billetera-4 button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.billetera-5{
  list-style: none;
  } 
  .billetera-5 img{
    height: 190px;
    width: 225px;
  }
  .billetera-5 h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .billetera-5 button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.billetera-6{
  list-style: none;
  }
  .billetera-6 img{
    height: 190px;
    width: 225px;
  }
  .billetera-6 h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .billetera-6 button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.organizador-de-viaje{
  list-style: none;
  }
  .organizador-de-viaje img{
    height: 190px;
    width: 225px;
  }
  .organizador-de-viaje h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .organizador-de-viaje button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.paraguas-lisos{
  list-style: none
  }
  .paraguas-lisos img{
    height: 190px;
    width: 225px;
  }
  .paraguas-lisos h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .paraguas-lisos button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.paraguas-estampados{
  list-style: none ;
  }
  .paraguas-estampados img{
    height: 190px;
    width: 225px;
  }
  .paraguas-estampados h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .paraguas-estampados button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.portacelulares{
  list-style: none;
  }
  .portacelulares img{
    height: 190px;
    width: 225px;
  }
  .portacelulares h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .portacelulares button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

  /** empieza page belleza **/

  .seccion-belleza-2{
    display: flex;
    height: 1500px;
    width: 100%;
    justify-content: center;
    padding: 10px;
    margin: 25px;
  }

  .contenedor-belleza{
    display: grid;
    grid-template-columns: repeat(3, 225px);
    grid-template-rows: repeat(3, 290);
    column-gap: 20px;
    row-gap: 10px;
    justify-content: center;
  }
.brocha-1{
  list-style: none;
  }
  .brocha-1 img{
    height: 190px;
    width: 225px
  }
  .brocha-1 h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .brocha-1 button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.brocha-2{
  list-style: none;
  }
  .brocha-2 img{
    height: 190px;
    width: 225px;
  }
  .brocha-2 h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .brocha-2 button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.brocha-3{
  list-style: none;
  }
  .brocha-3 img{
    height: 190px;
    width: 225px;
  }
  .brocha-3 h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .brocha-3 button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.cepillo-1{
  list-style: none;
  }
  .cepillo-1 img{
    height: 190px;
    width: 225px;
  }
  .cepillo-1 h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .cepillo-1 button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.cepillo-cuadrado{
  list-style: none;
  }
  .cepillo-cuadrado img{
    height: 190px;
    width: 225px;
  }
  .cepillo-cuadrado h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .cepillo-cuadrado button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.cepillo-redondo{
  list-style: none;
  }
  .cepillo-redondo img{
    height: 190px;
    width: 225px;
  }
  .cepillo-redondo h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .cepillo-redondo button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.espejo-1{
  list-style: none;
  }
  .espejo-1 img{
    height: 190px;
    width: 225px;
  }
  .espejo-1 h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .espejo-1 button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.kit-brochas{
  list-style: none;
  }
  .kit-brochas img{
    height: 190px;
    width: 225px;
  }
  .kit-brochas h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .kit-brochas button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.peine-espejo{
  list-style: none;
  }
  .peine-espejo img{
    height: 190px;
    width: 225px;
  }
  .peine-espejo h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .peine-espejo button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.peine-1{
  list-style: none;
  }
  .peine-1 img{
    height: 190px;
    width: 225px;
  }
  .peine-1 h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .peine-1 button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.peine-2{
  list-style: none;
  }
  .peine-2 img{
    height: 190px;
    width: 225px;
  }
  .peine-2 h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .peine-2 button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.peine-3{
  list-style: none;
  }
  .peine-3 img{
    height: 190px;
    width: 225px;
  }
  .peine-3 h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .peine-3 button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.portacosmeticos-1{
  list-style: none;
  }
  .portacosmeticos-1 img{
    height: 190px;
    width: 225px;
  }
  .portacosmeticos-1 h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .portacosmeticos-1 button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.portacosmeticos-2{
  list-style: none;
  }
  .portacosmeticos-2 img{
    height: 190px;
    width: 225px;
  }
  .portacosmeticos-2 h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .portacosmeticos-2 button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.portacosmeticos-3{
  list-style: none;
  }
  .portacosmeticos-3 img{
    height: 190px;
    width: 225px;
  }
  .portacosmeticos-3 h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .portacosmeticos-3 button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.portacosmeticos-4{
  list-style: none;
  }
  .portacosmeticos-4 img{
    height: 190px;
    width: 225px;
  }
  .portacosmeticos-4 h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .portacosmeticos-4 button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

  /** empieza page manicuria **/

.seccion-manicuria-2{
  display: flex;
    height: 1500px;
    width: 100%;
    justify-content: center;
    padding: 10px;
    margin: 25px;
  }
  .contenedor-manicuria{
    display: grid;
    grid-template-columns: repeat(3, 225px);
    grid-template-rows: repeat(3, 290);
    column-gap: 20px;
    row-gap: 10px;
    justify-content: center;
  }

.alicate-1{
  list-style: none;
  }
  .alicate-1 img{
    height: 190px;
    width: 225px;
  }
  .alicate-1 h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .alicate-1 button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.alicate-2{
  list-style: none;
  }
  .alicate-2 img{
    height: 190px;
    width: 225px;
  }
  .alicate-2 h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .alicate-2 button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.bloque-para-uñas-1{
  list-style: none;
  }
  .bloque-para-uñas-1 img{
    height: 190px;
    width: 225px;
  }
  .bloque-para-uñas-1 h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .bloque-para-uñas-1 button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.bloque-para-uñas-2{
  list-style: none;
  }
  .bloque-para-uñas-2 img{
    height: 190px;
    width: 225px;
  }
  .bloque-para-uñas-2 h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .bloque-para-uñas-2 button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.kit-manicuria-bebe{
  list-style: none;
  }
  .kit-manicuria-bebe img{
    height: 190px;
    width: 225px;
  }
  .kit-manicuria-bebe h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .kit-manicuria-bebe button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.portaesmalte{
  list-style: none;
  }
  .portaesmalte img{
    height: 190px;
    width: 225px;
  }
  .portaesmalte h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .portaesmalte button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.manicuria-5-piezas{
  list-style: none;
  }
  .manicuria-5-piezas img{
    height: 190px;
    width: 225px;
  }
  .manicuria-5-piezas h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .manicuria-5-piezas button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.manicuria-6-piezas{
  list-style: none;
  }
  .manicuria-6-piezas img{
    height: 190px;
    width: 225px;
  }
  .manicuria-6-piezas h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .manicuria-6-piezas button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.manicuria-9-piezas{
  list-style: none;
  }
  .manicuria-9-piezas img{
    height: 190px;
    width: 225px;
  }
  .manicuria-9-piezas h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .manicuria-9-piezas button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

.manicuria-10-piezas{
  list-style: none;
  }
  .manicuria-10-piezas img{
    height: 190px;
    width: 225px;
  }
  .manicuria-10-piezas h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 28px;
    font-weight: bold;
    background-color: rgb(110, 243, 139);
    border: 1px solid black;
  }
  .manicuria-10-piezas button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid grey;
  }

  /** doy clase page ingresar **/

  .contenedor-li{
    background-color:rgb(110, 243, 139) ;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction:column ;
    justify-content: space-evenly;
    align-items: center;
  }
  .contenedor-li h1{
    font-size: 40px;
  }
  .contenedor-li p{
    font-size: 30px;
    word-spacing: 3px;
  }

  .contenedor-nombre{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 200px;
  }
  .contenedor-nombre label{
    font-size: 30px;
    word-spacing: 2px;
  }
  .contenedor-nombre input{
    font-size: 30px;
    word-spacing: 2px;
  }
  .contenedor-email{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 200px;
  }
  .contenedor-email label{
    font-size: 30px;
    word-spacing: 2px;
  }
  .contenedor-email input{
    font-size: 30px;
    word-spacing: 2px;
  }
  .contenedor-contra{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 200px;
  }
  .contenedor-contra label{
    font-size: 30px;
    word-spacing: 2px;
  }
  .contenedor-contra input{
    font-size: 30px;
    word-spacing: 2px;
  }
  .reg-but{
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  .but-regristrarse button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    appearance: auto;
    color: aquamarine;
    font-size: 28px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(1, 15, 4);
    border-image: initial;
    border-bottom: 2px solid rgba(128, 128, 128, 0.795);
  }

  .contenedor-registro{
    width: 100%;
    height: 500px;
    display: flex;
  }

/** aplico media queries **/

  @media (max-width:1024px){
    header{
      display: flex;
    }
    nav{
      display: flex;
      justify-content: flex-end;
    }
    .navbar{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    .belleza-item h2{
      font-size: 55px;
    }
    .belleza-item p{
      font-size: 17px;
      word-spacing: 2px;
    }
    .catl-resg{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: flex-end;
      background-image: url(../assets/images/banner-2.jpg);
      background-size: 80% 300px;
      background-position: top;
    }
    .registrarme{
      background-color: rgba(238, 211, 91, 0.959);
      width: 80%;
      height: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media (max-width:320px){
    header{
      height: 200px;
    }
    .encabezado{
      display: flex;
      flex-direction: column-reverse;
      background-color: rgb(103, 65, 241);
      background-image: url(../assets/images/banner.jpg);
      background-size: initial;
      background-position-y:top;
      width:100%;
      height: 200px;
      
    }
    .contenedor-img{
      display: none;
    }
    nav{
      display: flex;
      flex-wrap: wrap;
      width: 80%;
    }
    .navbar{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content:center;
    }
    .navbar li{
      display: flex;
      flex-direction: row;
      font-size: 21px;
      font-weight: bold;
      word-spacing: 2px;
    }
  
    .navbar li a:hover{
      color: rgba(119, 228, 212, 1);
    }
    .belleza-item h2{
      font-size: 20px;
    }
    .belleza-item p{
      font-size: 15px;
    }
    .contenedor-li{
      background-color:rgb(110, 243, 139) ;
      width: 80%;
      height: 200px;
      display: flex;
      flex-direction:column ;
      justify-content: space-evenly;
      align-items: center;
    }
    .contenedor-li h1{
      font-size: 40px;
    }
    .contenedor-li p{
      font-size: 30px;
      word-spacing: 3px;
    }
  
    .contenedor-nombre{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 80%;
      height: 200px;
    }
    .contenedor-nombre label{
      font-size: 20px;
      word-spacing: 2px;
    }
    .contenedor-nombre input{
      font-size: 20px;
      word-spacing: 2px;
    }
    .contenedor-email{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 80%;
      height: 200px;
    }
    .contenedor-email label{
      font-size: 20px;
      word-spacing: 2px;
    }
    .contenedor-email input{
      font-size: 20px;
      word-spacing: 2px;
    }
    .contenedor-contra{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 80%;
      height: 200px;
    }
    .contenedor-contra label{
      font-size: 20px;
      word-spacing: 2px;
    }
    .contenedor-contra input{
      font-size: 20px;
      word-spacing: 2px;
    }
    .reg-but{
      display: flex;
      justify-content: center;
      list-style: none;
    }
    
    .but-regristrarse button{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      appearance: auto;
      color: aquamarine;
      font-size: 28px;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      background-color: rgb(1, 15, 4);
      border-image: initial;
      border-bottom: 2px solid rgba(128, 128, 128, 0.795);
    }
  
    .contenedor-registro{
      width: 100%;
      height: 500px;
      display: flex;
    }
    
  }