@media (max-width:320px){
header{
  height: 150px;
  section{
    display: flex;
    flex-direction: row;
    background-color: $color-principal;
    background-image: url( ../assets/images/banner-cir.png);
    background-size: 100px 100px;
    background-position: 10% 50%;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    width:100%;
    height: 150px;
    div{
      gap: 10px;
      a{
        img{
          width: 30px;
          height: 30px;
        }
      }
    }
    nav{
      background-color: $color-principal;
      .checkbtn{
        display: block;
      }
      ul{
        position: fixed;
        display: flex;
        align-items: center;
        width: 200px;
        height: 500px;
        background-color: $color-principal;
        top: 50px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        li{
          display: block;
          margin: 20px 0;
          line-height: 30px;
          a{
            font-size: 20px;
          }
        }
      }
      #check:checked ~ ul{
        left: 0;
      }
    }
  }
}
.carousel-item{
  img{
    height: 300px;
  }
  h2{
    font-size: 21px;
    font-weight: bolder;
  }
  p{
    font-size: 10px;
    word-spacing: 1px;
  }
}
.catl-resg{
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-size: 80% 190px;
  background-position: top;
  gap: 100px;
  .catalogo{
    p{
      font-size: 11px;
      text-align: right;
      word-spacing: 1px;
      }
    h3{
      text-align: center;
      width: 150px;
      height: 50px;
      font-size: 15px;
      }
    }
  .registrarme{
    height: 170px;
    li{
      a{
        width: 70%;
        height: 50px;
        font-size: 19px;
      }
      p{
        font-size: 12px;
        word-spacing: 1px;
      }
    }
  }
}
.main-class{
  height: 2900px;
  .seccion-accesorios{
    height: 260px;
    div{
      height: 260px;
      background-size: 90% 250px;
      background-position: center;
      li h1{
        font-size: 20px;
        text-align: center;
        }
    }
  }
  .seccion-accesorios-2{
    height: 2690px;
    display: flex;
    align-items: flex-start;
    padding: 10px;
    margin: 5px;
    .productos{
      display: flex;
      gap: 2px;
      width: 80px;
      height: 20px;
      transition: width 2s, height 3s;
      &:hover{
        width: 95px;
        height: 190px;
        }
        h2, h3{
            font-size: 12px;
        }
      }
    .productos-2{
      display: flex;
      flex-direction: column;
      column-gap: 0px;
      li{
        img{
          width: 150px;
          height: 150px;
          }
        h2{
          font-size: 10px;
          height: 50px;
          width: 150px;
          }
        button{
          font-size: 12px;
          width: 150px;
          }
        }
      }
    }
}
.main-class-2{
  height: 4050px;
  .seccion-belleza{
    height: 260px;
    div{
      height: 260px;
      background-size: 90% 250px;
      background-position: center;
      li h1{
        font-size: 21px;
        text-align: center;
      }
    }
  }
  .seccion-belleza-2{
    height: 3100px;
    display: flex;
    align-items: flex-start;
    margin: 5px;
    padding: 10px;
    .productos{
      display: flex;
      gap: 2px;
      width: 80px;
      height: 20px;
      transition: width 2s, height 3s;
      &:hover{
        width: 95px;
        height: 190px;
        }
      h2, h3{
        font-size: 10px;
      }
    }
    .productos-2{
      display: flex;
      flex-direction: column;
      column-gap: 0px;
      li{
        img{
          width: 150px;
          height: 150px;
        }
        h2{
          font-size: 10px;
          height: 50px;
          width: 150px;
        }
        button{
        font-size: 12px;
          width: 150px;
        }
      }
    }
  }
}
.main-class-1{
  height: 2650px;
  .seccion-manicuria{
    height: 260px;
    div{
      height: 260px;
      background-size: 90% 250px;
      background-position: center;
      li h1{
        font-size: 21px;
        text-align: center;
      }
    }
  }
  .seccion-manicuria-2{
    height: 2000px;
    display: flex;
    align-items: flex-start;
    margin: 5px;
    padding: 10px;
    .productos{
      display: flex;
      gap: 2px;
      width: 80px;
      height: 20px;
      transition: width 2s, height 3s;
      &:hover{
        width: 95px;
        height: 190px;
        }
      h2, h3{
        font-size: 10px;
      }
    }
    .productos-2{
      display: flex;
      flex-direction: column;
      column-gap: 0px;
      li{
        img{
          width: 150px;
          height: 150px;
        }
        h2{
          font-size: 10px;
          height: 50px;
          width: 150px;
        }
        button{
          font-size: 12px;
          width: 150px;
        }
      }
    }
  }
}
.main-class-3{
  section div{
    display: flex;
    justify-content: center;
    li{
      p{
        text-align: center;
        font-size: 20px;
      }
      h1{
        font-size: 25px;
      }
    }
  }
}
footer{
  height: 200px;
  div{
    padding: 15px 3px 0px 3px;
    margin-top: 5px;
    li{
      img{
        height: 27px;
        width: 27px;
      }
      h2,p{
        font-size: 12px;
      }
    }
  }
}
}